@use './partial/header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #ededed;
  opacity: 0.6;
  height: 100%;
}



.main_contents {
  background-color: #1c1c1c;
  height: 130px;
}

.menu_panel {
  background-color: #0282f9;
  height: 155px;
}

.footer_top {
  background-image: url(../img/footer-bg.jpg);
  height: 368px;
}

.footer_bottom {
  background-color: #464646;
  height: 110px;
}