@use './partial/header';
@use './partial/main';
@use './partial/footer';
@use './node_modules/bootstrap/scss/bootstrap-grid.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-stretch: semi-condensed;
  font-weight: 600;

}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

img {
  max-width: 100%;
}