@use 'variables' as *;

header {
    background-color: white;

    .logo {
        padding: 1rem;
    }

    .logo img {
        height: 80px;
    }

    a {
        text-decoration: none;
        padding: 2.75rem 1rem;
        color: $secondary_color;
        text-transform: uppercase;


        &:hover {
            border-bottom: 5px solid $prymary_color;
            color: $prymary_color;
        }
    }

}