@use 'variables' as *;

main {
    .main_contents {
        background-color: #1c1c1c;

        .main_banner {
            background-image: url(../img/jumbotron.jpg);
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
        }

        .label {
            width: fit-content;
            background-color: $prymary_color;

            h2 {
                color: $light;
                text-transform: uppercase;
                padding: 1rem;
                margin-top: -2rem;
            }
        }

        .comics {
            padding: 1rem;
            text-transform: uppercase;
            color: $light;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: top;
            }
        }
    }

    .menu_panel {
        background-color: $prymary_color;
        height: 155px;
        text-transform: uppercase;

        .mp {
            display: flex;
            align-items: center;
        }

        img {
            height: 60px;
        }

        .power_visa img {
            height: 40px;
        }

        a {
            text-decoration: none;
            color: $light;
            padding: 1rem;
        }
    }
}